<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <title>Hypothesis Testing</title>
</head>
<body>
    <nav id="navbar" class="a">
        <a id="title">Hypothesis Testing</a>
        <button id="icon-drop"><img src="/static/images/menu-svgrepo-com.svg"></button>
        <div id="links">
            <ul>
                <li><a class="nav-link">Home</a></li>
                <li><a class="nav-link">Calculators</a></li>
                <li><a class="nav-link">About</a></li>
                <li><a class="nav-link">Contact us</a></li>
            </ul>
        </div>
    </nav>

    <section>
        <div class="article" id="first">
            <h1 id="welcome">Welcome to Hypothesis Testing</h1>
            <p>Welcome to Hypothesis Testing. Our site provides a wide range of statistical calculators, which is helpful for students, researchers, or professionals performing various statistical tasks. </p>
            <p>The hypothesis test calculator helps you perform various statistical hypotheses.</p>
            <a href="/tests"><button>Statistical hypotheses tests</button></a>
        </div>
        <div class="img"><img id="image" src="/static/images/stat.svg"></div>
    </section>

    <!--
    <article>
        <div class="article" id="Introduction">
            <h1>Introduction</h1>
            <p>
            A test is a mechanism that allows a decision to be made between
            generally two hypotheses in view of the results obtained from a
            sample. These two hypotheses are denoted H0 called null hypothesis
            and H1 called alternative hypothesis, of which only one is true. There
            decision will result in choosing H0 or H1. We then have 4 possible cases
            </p>
        </div>
    </article>
    -->

    <!--<script src="/static/js/nav-bar.js"></script>-->
</body>
</html>