<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/tests.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <title>Statistical Tests</title>
</head>
<body>
    <nav id="navbar" class="a">
        <a href="/" id="title">Hypothesis Testing</a>
        <button id="icon-drop"><img src="/static/images/menu-svgrepo-com.svg"></button>
        <div id="links">
            <ul>
                <li><a href="/" class="nav-link">Home</a></li>
                <li><a href="/tests" class="nav-link">Calculators</a></li>
                <li><a href="/construction" class="nav-link">About</a></li>
                <li><a href="/construction" class="nav-link">Contact us</a></li>
            </ul>
        </div>
        <div id="hidden-links">
            <ul>
                <li><a href="/" class="nav-link">Home</a></li>
                <li><a href="/tests" class="nav-link">Calculators</a></li>
                <li><a href="/construction" class="nav-link">About</a></li>
                <li><a href="/construction" class="nav-link">Contact us</a></li>
            </ul>
        </div>
    </nav>

    <section id="section">
        <div class="article">
            <h1>Hypothesis Testing</h1>
            <p>The hypothesis test calculator helps you perform various statistical hypotheses, which are mentioned below.</p>
        </div>
        <div class="article sub-article">
            <h3>Conformity tests of a parameter</h3>
            <p>Perform one-sample test (Z test, T test and Chi-squared test) on the population's mean, variance or proportion.</p>
            <a href="/conformity-tests"><button>Conformity tests</button></a>
        </div>
        <div class="article sub-article">
            <h3>Comparison tests</h3>
            <p>Perform two-sample comparison test (Z test, T test and Fisher test) on the population's mean, variance or proportion.</p>
            <a href="/comparison-tests"><button>Comparison tests</button></a>
        </div>
        <div class="article sub-article">
            <h3>Independance tests</h3>
            <p>Perform parametric and non parametric independance tests on two random variables</p>
            <a href="/independence-tests"><button>Independance tests</button></a>
        </div>
        <div class="article sub-article">
            <h3>Homogeneity tests</h3>
            <p>Test the equality of some theoritical distribution with a sample's distribution</p>
            <a href="/homogeneity-tests"><button>Homogeneity tests</button></a>
        </div>
        <div class="article sub-article">
            <h3>Multiple samples tests</h3>
            <p>Perform comparison tests for the mean and variance for multiple samples (ANOVA, Bartlett test and Kruskal-Wallis test)</p>
            <a href="/multiple-samples-tests"><button>Multiple samples tests</button></a>
        </div>
        <div class="article sub-article">
            <h3>Non parametric comparison tests</h3>
            <p>Perform non parametrix tests (Mann-Whitney U test and Wilcoxon signed-rank test) on the samples' means</p>
            <a href="/non-parametric-tests"><button>Non parametric comparison tests</button></a>
        </div>
    </section>
    <script src="/static/js/common.js"></script>

    <!--<script src="/static/js/nav-bar.js"></script>-->
</body>
</html>